html {
    scroll-behavior: smooth;
    background-color: #3366cc;
    background: linear-gradient(#24478f, #3366cc);
    background-attachment: fixed;
}

body {
    margin: 0;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

a,
a:link,
a:visited {
    text-decoration: none !important;
}

a.link,
.link,
a.link:link,
.link:link,
a.link:visited,
.link:visited {
    color: #ebf0fa;
    transition: color 150ms ease-in !important;
}

a.link:hover,
.link:hover,
a.link:focus,
.link:focus {
    color: #ebf0fa;
}